<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoperun.mapper.FileMapper">
  <!-- 根据attId查询附件信息 -->
  <select id="selectPicAtt" parameterType="map" resultType="map">
    SELECT * from tb_attachment where attachment_id = #{attId}
  </select>
  
  <!-- 往附件表中插入数据 -->
  <insert id="inserPic" parameterType="map">
  	insert into tb_attachment values(#{attId},#{picPath},#{picName})
  </insert>
  
  <!-- 查询本地磁盘导入数据记录表 -->
  <select id="selectDiskRecord" parameterType="map" resultType="map">
  	SELECT count(1),uplode_date FROM tb_disk_record where user_id = #{userId} and file_path = #{filePath}
  </select>
  
  <!-- 往本地磁盘导入数据记录表中插入数据 -->
  <insert id="insertDiskRecord" parameterType="map">
    insert into tb_disk_record values(#{recordId},#{userId},#{filePath},#{uplodeDate})
  </insert>
  
</mapper>